@font-face {
    font-family: 'norsebold';
    src: url('norse-bold-webfont.woff2') format('woff2'),
         url('norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

:root {
    --sidebar-height: 200px;
    --logo-height: 80%;
}

body {
    margin: 0;
    line-height: 1.5;
    display: flex;
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.left-panel {
    flex: 1;
    background: url('./images/background.jpg') center/cover no-repeat;
    position: relative;
}

.brand-sidebar {
    height: var(--sidebar-height);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;
    width: 100%;
}

.brand-sidebar .logo {
    height: var(--logo-height);
}

.brand-sidebar .name {
    font-family: 'norsebold';
    color: white;
    font-size: 100px;
}

.right-panel {
    flex: 2;
}