@font-face {
    font-family: 'norsebold';
    src: url('norse-bold-webfont.woff2') format('woff2'),
         url('norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --sidebar-height: 200px;
    --logo-height: 80%;
}

body {
    margin: 0;
    line-height: 1.5;
    display: flex;
    min-height: 100vh;
    background-color: #E5E7EB;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.left-panel {
    flex: 1;
    background: url('./images/background.jpg') center/cover no-repeat;
    position: relative;
}

.brand-sidebar {
    height: var(--sidebar-height);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;
    width: 100%;
}

.brand-sidebar .logo {
    height: var(--logo-height);
}

.brand-sidebar .name {
    font-family: 'norsebold';
    color: white;
    font-size: 100px;
}

footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    color: white;
}

footer a {
    color: white;
}

.right-panel {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headline {
    font-size: 1.25rem;
    font-weight: bold;
    margin-right: 300px;
    padding: 36px;
}

form {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 36px;
    padding: 36px 0;
}

h2 {
    margin: 0;
    padding: 0;
}

form > * {
    margin: 0 36px;
}

.form-row {
    display: flex;
    gap: 64px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: .8rem;
    font-weight: 500;
}

input {
    height: 2rem;
    width: 15rem;
    appearance: none;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

input:invalid {
    border: 1px solid crimson;
}