* {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* label,
input,
button,
textarea,
select {
    font: inherit;
} */